# Dependencies
node_modules/

# Vercel local project link
.vercel/

# Environment and secrets
.env
.env*.local
*.pem
*.key

# System & IDE files
.DS_Store
Thumbs.db
*.log

# Imported repositories subfolder & workspace file
repos/
*.code-workspace

